<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackerkernel.storemanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <!-- facebook meta data -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- facebook meta data -->

        <!-- fb login activity -->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <!--/ fb login activity -->

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddCategoryActivity"
            android:label="@string/title_activity_add_category"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ProductListActivity"
            android:label="@string/title_activity_product"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.AddProductActivity"
            android:label="@string/title_activity_add_product"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackerkernel.storemanager.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackerkernel.storemanager.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ManageSalesmanActivity"
            android:label="@string/title_activity_manage_salesman"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackerkernel.storemanager.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.AddSalesman"
            android:label="@string/title_activity_add_salesman"
            android:parentActivityName=".activity.ManageSalesmanActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ManageSalesmanActivity" />
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.EditProductActivity" />
        <activity
            android:name=".activity.AddSalesActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackerkernel.storemanager.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.CalculateCommissionActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackerkernel.storemanager.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.SalesmanSalesDetailActivity"
            android:parentActivityName=".activity.ManageSalesmanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackerkernel.storemanager.activity.ManageSalesmanActivity" />

        </activity>
    </application>

</manifest>
